body {
  background-color: black;
  margin: 0px;
  overflow: hidden;
}

.gridcell {
  float: left;
}

.gridcell.blocked {
  background-color: #ccc;
}

.gridcell.out-cell {
  background-color: green;
}

.gridcell.in-cell {
  background-color: red;
}
